@import "../../variables";

.star-rating {
    display: flex;
    align-items: center;
    gap: .5em;
    
}

.star.active {
    color: $primary-color;
}

.star {
    color: $quaternary-color;
    font-size: 1.3em;
}

