@import "../../variables.scss";


.desc {
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__title {
        font-size: 36px;
        line-height: 142.6%;
    }

    &__address {
        font-size: 18px;
        line-height: 142.6%;
    }

    .host {
        &__details {
            display: flex;
            align-items: center;
            gap: 2em;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        &__ratings {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: .5em;
            font-size: 18px;
        }
    }

}

.badge {

    &__content {
        display: flex;
        align-items: center;
        gap: 1em;

        margin-bottom: 1em;

        p {

            border-radius: 10px;
            height: 25px;
            line-height: 25px;
            background-color: $primary-color;
            color: $secondary-color;
            padding: 0 1em;
        }
    }
}