.not-found__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {

        color: #FF6060;
        text-align: center;
        font-size: 96px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 142.6%;
    }

    p {
        color: #FF6060;
        text-align: center;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 142.6%;
    }

    a {
        color: #FF6060;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 142.6%;
        text-decoration-line: underline;
    }
}